<div id="content">
  <!-- Blank column -->
  <div class="grid column1" id="links">
    <% for (var i=0; i<2; i++) { %>
      <div class="blank square onecol"></div>
    <% } %>
  </div>

  <!--Profile pic -->
  <div class="grid column" id="links">
    <div class="square twocolumntwosquare">
      <img src=<%= viewing.github.avatarUrl+"?s=400" %> style="width: 100%;"></img>
    </div>
  </div>

  <!--Name and info-->
  <div class="grid column" id="links">

    <div class="square twocolumn2by1rect">
      <span id="nameSaveButton" style="z-index: 1000; display: none; font-size: 20px; line-height: 22px; font-weight: bold; text-transform: lowercase; margin-top: 90%; margin-left: 0px; color: white; background-color: rgba(0,148,0,0.75); opacity: 0.9; position: absolute; text-align: center; width: 100%;">Save</span>
      <div class="squaretext" style="font-size: 30px;"><div class="squaretitle" id="nameField" contentEditable="<%= myself %>">
      	<% if (viewing.info.name) { %> 
          <%= viewing.info.name %>
        <% } else { %>
          [Mr. No Name]
        <% } %>
      </div></div>
    </div>

    <div class="square twocol">
        <% if (viewing.github.email) { %>
          <div class="squaretext">
            <%= viewing.github.email%>
          </div>
        <% } else { %>
         <% var a = Math.floor(Math.random() * 150 + 150); %>
         <% var b = Math.floor(Math.random() * 100 + 150);%>
         <img src="<%='http://placekitten.com/g/'+a+'/'+b%>" style="width: 100%"></img>
        <% } %>
    </div>

    <div class="square twocol"> 
    <a href=<%="https://www.github.com/"+viewing.github.username %>>
        <img src="/img/github_icon.png" style="width:100%;"></img> 
        <div class="squaretext"><div class="squaretitle">
          @<%= viewing.github.username %>
          <br>
          <br>
          <br>
          <br>
        </div></div>
    </div>
    </a>
  </div>
   
  <div class="grid column" id="links">
    <div class="square twocolumntwosquare">
      <span id="saveButton" style="z-index: 1000; display: none; font-size: 20px; line-height: 22px; font-weight: bold; text-transform: lowercase; margin-top: 90%; margin-left: 0px; color: white; background-color: rgba(0,148,0,0.75); opacity: 0.9; position: absolute; text-align: center; width: 100%;">Save</span>
      <div class="squaretext"><div class="squarebio" id="blurb" contentEditable="<%= myself %>">
        <%= viewing.info.blurb || quote %>
      </div>
      </div>
    </div>
  </div>



  <!-- Empty last col 1st 2 rows -->
  <div class="grid column1" id="links">
    <% for (var i=0; i<2; i++) { %>
      <div class="blank square onecol">
      </div>
    <% } %>
  </div>

  <!-- Empty 1st col 2nd 2 rows -->
  <div class="grid column1" id="links">
    <% for (var i=0; i<2; i++) { %>
      <div class="blank square onecol">
      </div>
    <% } %>
  </div>

  <!-- Hacks -->
  <div class="grid column6" id="links">
    <% for (var i=0; i<hacks.length; i++) { %>
      <div class="square link sixcol" name=<%= "projects/" + hacks[i].hackid %>>
        <span><%= hacks[i].title %></span>
        <% if (hacks[i].picture) { %>
          <img src=<%= hacks[i].picture %> style="width: 100%;">
        <% } else { %>
          <img src="https://s3.amazonaws.com/hackerfair/hack-logo-black-png.png" style="width: 100%;">
        <% } %>
        <div class="squaretext"></div>
      </div>   
    <% } %>

    <% for (var i=hacks.length; i<12; i++) { %>
      <div class="square blank sixcol"></div>
    <% } %>
  </div>

  <!-- Empty last col 2nd 2 rows-->
  <div class="grid column1" id="links">
    <% for (var i=0; i<2; i++) { %>
      <div class="blank square onecol"></div>
    <% } %>
  </div>

</div>
