<div id="content">
  <!-- Blank column -->
  <div class="grid column1" id="links">
    <% for (var i=0; i<6; i++) { %>
      <div class="blank square onecol"></div>
    <% } %>
  </div>

  <!--Profile pic -->
  <div class="grid column" id="links">
    <div class="square twocolumntwosquare">
      <img src=<%= viewing.github.avatarUrl+"?s=400" %> style="width: 100%;"></img>
    </div>
    <% for (var i=0; i<8; i++) { %>
      <div class="blank square twocol"></div>
    <% } %>
  </div>

  <!--Name and info-->
  <div class="grid column" id="links">

    <div class="square twocolumn2by1rect">
      <div class="squaretext"><div class="squaretitle">
      	<% if (viewing.info.name) { %> 
          <%= viewing.info.name %>
        <% } %>
      </div></div>
    </div>

    <div class="square twocol">
      <div class="squaretext"><div class="squaretitle">
      	<% if (viewing.info.name) { %>
          <%= viewing.info.name %>
 	  <br> @<%= viewing.github.username %> 
	<% } else { %> 
          @<%= viewing.github.username %>
        <% } %>
      </div></div>
    </div>

    <div class="square twocol">
      <div class="squaretext"><div class="squaretitle">
      	<% if (viewing.info.name) { %>
          <%= viewing.info.name %>
 	  <br> @<%= viewing.github.username %> 
	<% } else { %> 
          @<%= viewing.github.username %>
        <% } %>
      </div></div>
    </div>

    <% for (var i=0; i<8; i++) { %>
      <div class="blank square twocol"></div>
    <% } %>

  </div>
  
  <!-- Bio -->
  <div class="grid column" id="links">
    <div class="square twocolumntwosquare">
      <p>Now, now. Perfectly symmetrical violence never solved anything. OK, this has gotta stop. I'm going to remind Fry of his humanity the way only a woman can. No, of course not.</p>
    </div>
    <% for (var i=0; i<8; i++) { %>
      <div class="blank square twocol"></div>
    <% } %>
  </div>

  <!-- Empty -->
  <div class="grid column1" id="links">
    <% for (var i=0; i<6; i++) { %>
      <div class="blank square onecol"></div>
    <% } %>
  </div>

</div>
